 /* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
 /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
  
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
      clear:left;
      font-family: 'Sarpanch', sans-serif;
          }
    
   
footer ul {
	list-style-type: none;
  padding: 0;
  margin-left: 40%;
  overflow: hidden;
  
}

footer li img {
	 display: block;
  float: left;
  text-align: center;
   padding: 16px;
   width:10%;
   height:auto;
}

footer h4{
	margin-left: 35%;
    /* On small screens, set height to 'auto' for sidenav and grid */
}

footer h5 {
	margin-left: 40%;

}

.li-img img{
	width:14%;

}

.logo {

	width:100%;
	height:auto;
	margin-bottom: -50px;
	position: relative;
}

.h2_text {
	margin-left: 70px;
	font-size: 25px;
}

.btn {
	margin-top: 50%;
}

.thrive {
	font-family: 'Sarpanch', sans-serif;
	position: relative;
	margin-top: 20%;
	margin-left: 80px;
	float:left;
}

.thrive h2 {
	font-weight: 30px;
	font-family: 'Lobster', cursive;
}


.line {
	  
      font-weight: 30px;
      position: relative;
      top: 50%;
      width: 16em;
      margin: 0 auto;
      border-right: 2px solid rgba(255, 255, 255, 0.75);
      font-size: 180%;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      transform: translateY(-50%);
}

.oval {
	color: darkgrey;
	background-color: black;
	opacity: 40%;
	border-radius: 50%;
	padding:30px;
	
}
/*Animation*/


input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.form {
	margin-top: 5%;
	margin-left:10%;
  border-radius: 5px;
  background-color: black;
  padding: 20px;
  opacity:50%;
  color: lightblue;

}

.anim-typewriter {
      animation: typewriter 4s steps(40) 1s 1 normal both,
      blinkTextCursor 500ms steps(40) infinite normal;
}

@keyframes typewriter {
      from {
            width: 0;
      }
      to {
            width: 16em;
      }
}

@keyframes blinkTextCursor {
      from {
            border-right-color: rgba(255, 255, 255, 0.75);
      }
      to {
            border-right-color: transparent;
      }
}


.animation-area {
	background: rgb(3,2,10);
background: linear-gradient(90deg, rgba(3,2,10,1) 0%, rgba(102,104,125,1) 0%, rgba(34,40,46,1) 0%, rgba(51,61,69,1) 0%, rgba(121,147,153,1) 0%, rgba(62,123,135,1) 0%, rgba(24,28,32,1) 0%, rgba(29,34,40,0.865983893557423) 0%, rgba(26,31,37,1) 0%, rgba(78,135,195,1) 54%, rgba(3,138,206,1) 100%, rgba(126,163,221,1) 100%);
	width: 105%;
	height: 90vh;
}

.animation-area1 {
	background: rgb(3,2,10);
background: linear-gradient(90deg, rgba(3,2,10,1) 0%, rgba(102,104,125,1) 0%, rgba(34,40,46,1) 0%, rgba(51,61,69,1) 0%, rgba(121,147,153,1) 0%, rgba(62,123,135,1) 0%, rgba(24,28,32,1) 0%, rgba(29,34,40,0.865983893557423) 0%, rgba(26,31,37,1) 0%, rgba(78,135,195,1) 54%, rgba(3,138,206,1) 100%, rgba(126,163,221,1) 100%);
	width: 100%;
	height: 90vh;
	opacity:80%;

}


.box-area {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.box-area li {
	position: absolute;
	display: block;
	list-style: none;
	width: 25px;
	height: 25px;
	background: rgba(255, 255, 255, 0.2);
	animation: animate 20s linear infinite;
	bottom: -150px;
}
.box-area li:nth-child(1) {
	left: 86%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
}
.box-area li:nth-child(2) {
	left: 12%;
	width: 30px;
	height: 30px;
	animation-delay: 1.5s;
	animation-duration: 10s;
}
.box-area li:nth-child(3) {
	left: 70%;
	width: 100px;
	height: 100px;
	animation-delay: 5.5s;
}
.box-area li:nth-child(4) {
	left: 42%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 15s;
}
.box-area li:nth-child(5) {
	left: 65%;
	width: 40px;
	height: 40px;
	animation-delay: 0s;
}
.box-area li:nth-child(6) {
	left: 15%;
	width: 110px;
	height: 110px;
	animation-delay: 3.5s;
}
@keyframes animate {
	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 1;
	}
	100% {
		transform: translateY(-800px) rotate(360deg);
		opacity: 0;
	}
}

table {
	border-style: lightblue;
	margin-left:30%;
	margin-top: 5%;
	width:60%;
	opacity: 100%;
	color:#d3eef2;
	font-family: 'Sarpanch', sans-serif;
}

th {
	height: 30px;
	font-size: 25px;
	font-weight: bold;
	padding: 8px;
    text-align: left;
    border-bottom: 3px solid #ddd;
	font-family: 'Sarpanch', sans-serif;
}

 td {
  padding: 8px;
  text-align: left;
  border-bottom: 3px solid #ddd;
  font-size: 15px;
}

td a {
	color: #d3eef2;
}

.transact-form {
	width:100%;
	margin-top: 10%;
	margin-left: 20%;
	opacity:60%;
	color:#d3eef2;
	background-color: black;
	padding: 30px;
	text-align: center;
}

.container{
	margin-left: 15%;
	position: absolute;

}

.container table {
	margin-left: 5%;
	width:90%;
	
}
.container th {
	height: 30px;
	font-size: 20px;
	font-weight: bold;
	padding: 8px;
	border: none;
    text-align: left;
	font-family: 'Sarpanch', sans-serif;
}

 .container td {
  padding: 8px;
  text-align: left;
 border: none;
  font-size: 15px;
}

#submit {
	margin-left: 70%;
}

.container input, select, textarea{
    color: black;
}

.history-container table{
 
 	width:130%;
 	margin-left: 20%;
}

